<section class="columns">
<div class="column bulma-overlay-mixin">
  <form class="box">
    <h1>Sign in Here</h1>
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" type="email" id="login-email" placeholder="e.g. alex@example.com">
      </div>
    </div>
  
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" type="password" id="login-password" placeholder="********">
      </div>
    </div>
  
    <button class="button is-primary" id="login">Sign in</button>
  </form>
</div>

<div class="column bulma-overlay-mixin">
  <form class="box">
    <h1>No Account? Sign Up!</h1>
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input class="input" id="signup-name" placeholder="Man Bear Pig">
      </div>
    </div>

    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" type="email" id="signup-email" placeholder="e.g. alex@example.com">
      </div>
    </div>
  
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" type="password" id="signup-password" placeholder="********">
      </div>
    </div>

    <div class="field">
      <label class="label">Confirm Password</label>
      <div class="control">
        <input class="input" type="password" id="signup-pass-confirm" placeholder="********">
      </div>
    </div>
  
    <button class="button is-primary" id="signup">Sign up</button>
  </form>
</div>
</section>

<script src="./js/login.js"></script>