<section class="columns">
<div class="column">
  <form class="box">
    <h2 class="title">Create New Post</h2>
    <div class="field">
      <label class="label">Title</label>
      <div class="control">
        <input class="input" type="text" id="post-title" placeholder="e.g. Why MVC is so important">
      </div>
    </div>
  
    <div class="field">
      <label class="label">Content</label>
      <div class="control">
        <textarea class="textarea" type="text" id="post-content" placeholder="e.g. MVC allows developers to maintain a true separation of concerns, devising their code between the Model layer for data, the View layer for design, and the Contoller layer for application logic."></textarea>
      </div>
    </div>
  
    <button type="submit" class="button is-primary">+ Add Post</button>
  </form>
</div>
</section>

<script src="./js/newpost.js"></script>